body {
  background-color: black;
  color: white;
}
.istri {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40vh;
  padding: 20px;
}
.sosial {
  text-align: left;
}
@media (max-width: 768px) { /* Untuk layar kecil (mobile) */
  .istri {
    min-height: auto; /* Menghindari ruang kosong berlebih */
    padding: 5px;
  }

  img {
    max-width: 100%; /* Pastikan gambar tidak melebihi layar */
  }
}

@media (min-width: 1024px) { /* Untuk layar besar (PC) */
  .istri {
    min-height: 70vh; /* Beri ruang lebih di layar besar */
  }
}
