* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    
}

#clock {
    font-size: 30px;
    font-weight: bold;
    color: black;
    
  
}

/* Styling menu */
nav {
    background-color: #337;
    padding: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.game {
  text-align: left;
}
